*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.4em;
  font-size: 20px;
}

.body-cont{
  margin: 0 25%;
  padding: 1px 16px;
  height: 1000px;
}

:root{
  --primary-color: #ddd;
  --secondary-color: #212121;
  --sidebar-color: #fff;

}

.dark-theme{
  --primary-color: #000106;
  --secondary-color: #fff;
  --sidebar-color: #000106;
  --linkshover-color: rgb(30, 109, 30);
  }

  #icon{
    width: 30px;
    cursor: pointer;
  }

.signin-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid gray;
  }

.signin-text{
  text-transform: uppercase;
  background-color: rgb(30, 109, 30);
  color: var(--sidebar-color);
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.signin-text a{
  text-decoration: none;
  color: var(--sidebar-color);
}

.sign-in-header{
  text-transform: uppercase;
  padding: 20px;
}

.sidebar{
  width: 20%;
  height: 100%;
  padding: 20px;
  position: fixed;
  background-color: var(--sidebar-color);
  margin: 0;
  overflow: auto;
}

.s-h3{
  text-align: center;
}

.sidebar h3{
  padding: 0px;
}

.label{
border-left: 2px solid var(--secondary-color);
padding: 10px;
width: 100%;
margin-bottom: 12px;
}

.container div{
  padding-bottom: 24px;
  margin-bottom: 12px;
  padding:12px 6px;
  border-radius: 8px;
}

.container div a{
  text-decoration: none;
  color: var(--secondary-color);
}

.container div:hover{
  background-color: var(--secondary-color);
}

.container div:hover a{
  color: var(--sidebar-color);
}


/* Right sidebar */
.rth-sidebar{
  right: 0;
  top: 0;
  width: 23%;
  height: 100%;
  padding: 20px;
  position: fixed;
  background-color: var(--primary-color);
  margin: 0;
  overflow: auto;
}



.rth-sidebar h3{
  padding: 0px;
}

.shortcuts{
  display: flex;
  flex-wrap: wrap;
}

.srt-childs{
  flex-basis: calc(50% - 10px);
  margin: 5px;
}

.srt-childs{
  border: none;
  padding: 6px ;
  text-align: center;
  border-radius: 50px;
  background-color: var(--sidebar-color);
}

.shortcuts div a{
  text-decoration: none;
  color: var(--secondary-color);
}

.shortcuts div:hover{
  background-color: var(--secondary-color);

}

.shortcuts div:hover a{
  color: var(--sidebar-color);
}



.search-bar{
  width: 80%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: var(--sidebar-color);
  color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  margin-left: 20%;
  margin-bottom: 40px;
}

.trending-flex{
  display: flex;
  justify-content: space-between;
}

.trending-flex a{
  color: var(--secondary-color);
  text-decoration: none;
}


.trending-img{
  width: 100%;
  height: 20%;
  border: 1px solid #f00;
  border-radius: 10px;
  margin-bottom: 50px;
}

.table-head{
  display: flex;
  justify-content: space-between;
}

.table-head a{
  color: var(--secondary-color);
  text-decoration: none;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
}

th, td{
  text-align: left;
  padding: 0.5em;
}

th{
  font-weight: bold;
}
tr:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

/* tbody tr:nth-child(even){
  background-color: #f2f2f2;
} */



.rth-label{
padding: 10px;
width: 100%;
margin-bottom: 12px;
}

.rth-container div{
  padding-bottom: 24px;
  margin-bottom: 12px;
  padding:12px 6px;
  border-radius: 8px;
}

.rth-container div a{
  text-decoration: none;
  color: var(--secondary-color);
}

.rth-container div:hover{
  background-color: var(--secondary-color);
}

.rth-container div:hover a{
  color: var(--sidebar-color);
}

.card {
  background-color: var(--sidebar-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.card-header{
  background-color: var(--sidebar-color);
  color: var(--sidebar-color);
  padding: 20px;
  text-align: center;
}

.card-header img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.card-body{
  padding: 20px;
}

.card-footer{
  background-color: var(--sidebar-color);
  padding: 20px;
  text-align: center;
}



@media screen and (max-width: 768px) {
  .sidebar{
    visibility: hidden;
  }

  .rth-sidebar{
    visibility: hidden;
  }

  .body-cont{
    margin: 0px;
  }

  
}





