.body{
  padding: 30px;
  flex: 0.8;
  background-color: #ccc;
  color: #212121;
  height: 100vh;

}

.body__info{
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__info > img{
  height: 24vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText{
  flex: 1;
}

.body__infoText > h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.body__infoText > p{
  font-size: 14px;
}

.body__icons{
  display: flex;
  align-items: center;
}