.footer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #333;
  color: #212121;
  padding: 20px;
}

.footer_left{
  flex: 0.3;
}

.footer_center{
  flex: 0.4;
  padding: 0 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer_right{
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  
}